* {
  font-family: Arial, Helvetica, sans-serif;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px 12px;
}

thead tr {
  background-color: darkblue;
  color: skyblue;
  text-align: left;
}

tbody tr td:nth-child(1) {
  background-color: skyblue;
}

tbody tr:nth-child(2) td:nth-child(2),
tbody tr:nth-child(2) td:nth-child(3),
tbody tr:nth-child(2) td:nth-child(4),
tbody tr:nth-child(2) td:nth-child(5),
tbody tr:nth-child(2) td:nth-child(6) {
  font-weight: bold;
  color: darkblue;
}

/* for pros with functional notation
see https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child#functional_notation
tbody tr:nth-child(2) td:nth-child(n + 2) {
  font-weight: bold;
  color: darkblue;
}
*/

tbody tr:nth-child(3) td:nth-child(2),
tbody tr:nth-child(3) td:nth-child(3),
tbody tr:nth-child(4) td:nth-child(4),
tbody tr:nth-child(4) td:nth-child(5),
tbody tr:nth-child(4) td:nth-child(6) {
  color: skyblue;
}

/* for pros with functional notation
see https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child#functional_notation
tbody tr:nth-child(3) td:nth-child(n + 2):nth-child(-n + 3),
tbody tr:nth-child(4) td:nth-child(n + 4) {
  color: skyblue;
}
*/
